.table-container {
  padding: 20px 0;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  table-layout: fixed;
  min-width: 800px;
}

.data-table caption {
  caption-side: top;   /* 👈 this forces caption to top */
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: #475D8E;
  color: #fff;
}

.rti-table thead {
  background: #FBBF24;
  color: white;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover {
  background: #f1f1f1;
}

.download-btn {
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #F28B43;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

/* Optional: smooth scrolling */
.table-responsive::-webkit-scrollbar {
  height: 6px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}