.hero-section {
  width: 100%;
}
.sec{
  padding: 0px !important;
}
.hero-left {
  position: relative;
  height: 425px;
}

/* SLIDES BACKGROUND */
.slide1 {
  background-image: url('/images/slider/banner-1.png');
}
.slide2 {
  background-image: url('/images/slider/banner-2.png');
}
.slide3 {
  background-image: url('/images/slider/banner-3.png');
}
.slide4 {
  background-image: url('/images/slider/banner-4.png');
}

.carousel-item {
  height: 425px;
  background-size: cover;
  background-position: center;
}

/* OVERLAY */
.hero-overlay {
  background: rgba(0,0,0,0.3);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero-title {
  font-size: clamp(30px, 2.5vw, 40px);
  font-weight: 700;
}

.hero-subtitle {
  font-size: clamp(16px, 2.5vw, 18px);
  margin-bottom: 20px;
}

/* RIGHT SIDE */
.hero-right {
  background: #f4f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card img {
  height: 425px;
  width: 100%;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-left,
  .carousel-item,
  .info-card img {
    height: 325px;
  }
}

@media (max-width: 526px) {
  .hero-left,
  .carousel-item,
  .info-card img {
    height: 300px;
  }
}