.services-section {
  background: #475D8E17;
  padding: clamp(30px, 5vw, 50px) clamp(10px, 3vw, 20px);
  text-align: center;
}

.section-title {
  font-size: 22px;
  color: #1b3c73;
  margin-bottom: 30px;
  font-weight: 600;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  /* max-width: 1200px; */
  margin: auto;
}

.service-card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #1F2937;
}

.service-card p {
  font-size: 13px;
  color: #000000;
  line-height: 1.4;
}